server:
  http_listen_port: 3200

distributor:
  receivers:
    zipkin:

ingester:
  max_block_bytes: 1000000
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 24h

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo
